<div class="form_wrapper">
  <div class="form_container">
    <div class="title_container">
      <h2>Password Reset</h2>
    </div>
    <div class="row clearfix">
      <div class="">
        <form [formGroup]="passwordResetForm" (ngSubmit)="submitPasswordResetForm()">
          <div class="input_field col-md-6 col-sm-12"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
            <input id="email" type="email" name="email" placeholder="E-mail" formControlName="email" required [email]="true" />
          </div>
          <div *ngIf="getEmail()?.errors && (getEmail()?.dirty || getEmail()?.touched)">
            <p *ngIf="getEmail()?.errors?.['required']" class="error_meldung">Bitte Daten eingeben</p>
            <p *ngIf="getEmail()?.errors?.['pattern']" class="error_meldung">Bitte gültige Format eingeben</p>
          </div>
          <input class="button col-md-6 col-sm-12" [disabled]="passwordResetForm.invalid" type="submit" value="Password Reset" />
          <div *ngIf="error">
            <p class="error_meldung">{{error}}</p>
          </div>
        </form>
        <p></p>
        <p></p>
        <a routerLink="/index">Einloggen</a>
        <p></p>
        <a routerLink="/register">Registration</a>
      </div>
    </div>
  </div>
</div>
