.button-flat {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding:0.75rem;
  margin-left: 1rem;
}

.button-text {
  padding-left: 1rem;
  padding-right: 3rem;
}

.category-title {
  margin-right: 5rem;
}

.uncompleted-count {
}

.overCategoryItem {
  font-weight: bold;
  text-decoration: underline;
}

.notOverCategoryItem {
  font-weight: normal;
}
